<?xml version="1.0"?>

<ruleset name="Orbis rules">
	<file>.</file>

	<exclude-pattern type="relative">^build/*</exclude-pattern>
	<exclude-pattern type="relative">^node_modules/*</exclude-pattern>
	<exclude-pattern type="relative">^packages/*</exclude-pattern>
	<exclude-pattern type="relative">^vendor/*</exclude-pattern>

	<rule ref="PronamicWP">
		<exclude name="Squiz.Commenting" />

		<exclude name="WordPress.DB" />
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="orbis" />
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.Utils.I18nTextDomainFixer">
		<properties>
			<property name="old_text_domain" type="array">
				<element value="pronamic-money" />
			</property>

			<property name="new_text_domain" value="orbis" />
		</properties>
	</rule>
</ruleset>
