tr.cancelled td {
    color: #999;

    text-decoration: line-through;
}

th.column-orbis_project_id {
	width: 5em;
}

.orbis-id-control {
	width: 300px;	
}

/**
 * Orbis company meta box
 */
#orbis_company_details .form-table .title {
	margin: 0;
}

#orbis_company_details ::-webkit-input-placeholder {
   color: #999;
}

#orbis_company_details :-moz-placeholder {
	color: #999;
}

/**
 * Orbis plugins page
 */
.orbis-plugins-message {
    height: 0;

    overflow: hidden;
}

table.orbis-plugins th, td {
    padding: 0 10px 5px 0;
}

table.orbis-plugins th {
    text-align: left;
}

.loading-icon {
    display: none;
}


.loading-icon.loading {
    display: block;
}

/**
 * Orbis admin
 */
.orbis-table-responsive {
    overflow-x: auto;
    white-space: nowrap;
}

.orbis-admin-table {
    width: 100%;
}

.orbis-admin-table th {
    font-size: 14px;

    text-align: left;
}

.orbis-admin-table th,
.orbis-admin-table td {
    padding: 2px 0;

    vertical-align: middle;
}

/**
 * Orbis Subscription
 */
body.post-type-orbis_subscription form#post #titlediv {
    display: none;
}
